{% extends 'base.html' %}
{% load edit_link %}

{% block title %}Contacts{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
{% endblock extra_head %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6"><h3>42 Coffee Cups Test Assignment{{ SETTINGS. }}</h3></div>
            {% if user.is_authenticated %}
                <div class="col-md-6" id='registration'>
                    <a href="{% url 'edit_form' contact.id %}">Edit</a>
                    <a href="{% edit_link contact %}">(admin)</a>|
                    <a href="{% url 'logout' %}">logout</a>
                </div>
            {% else %}
                <div class="col-md-6" id='registration'><a
                        href="{% url 'login' %}">login</a>
                </div>
            {% endif %}
        </div>
        </br>
        {% if contact %}
            <div class="row">
                <div class="col-md-6">
                    <div><span id="first_name">{{ contact.name }}</span></div>
                    <div><span id="last_name">{{ contact.surname }}</span></div>
                    <div><span
                            id="birth_date">{{ contact.birth_date|date:"Y-m-d" }}</span>
                    </div>
                    <div><b>Photo: </b><br>
                        {% if contact.photo %}
                            <img src="{{ MEDIA_URL }}{{ contact.photo }}"
                                 width="200" height="200"/>
                        {% else %}
                            <table width='200px' border="2" height="200px">
                                <tr align="right" valign="top">
                                    <td></td>
                                </tr>
                            </table>
                        {% endif %}</div>
                </div>
                <div class="col-md-6">
                    <div><b>Contacts</b></div>
                    <div><b>Email: </b><span
                            id="email">{{ contact.email }}</span></div>
                    <div><b>Jabber: </b><span
                            id="jabber">{{ contact.jabber }}</span></div>
                    <div><b>Skype: </b><span
                            id="skype">{{ contact.skype }}</span></div>
                    <div><b>Other contacts: </b><br><span
                            id="other">{{ contact.other|linebreaks }}</span>

                        <div><b>Bio: </b><br><span
                                id="bio">{{ contact.bio|linebreaks }}</span>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div><h5>Contacts Missing</h5></div>
        {% endif %}
        <hr>
        <div class="row">
            <div class="col-md-6"><a href="{% url 'requests' %}">requests</a>
            </div>
        </div>
    </div>


{% endblock content %}
