{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Edit contact data{% endblock %}
{% block extra_head %}
    {{ form.media }}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}js/edit_form.js"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <h2>42 Coffee Cups Test Assignment</h2>

        <form enctype="multipart/form-data" id="ajaxform"
              method="POST">{% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <p>

                    <div class="row" align="right">
                        <div class="col-xs-3"><label for="id_name">Name:</label>
                        </div>
                        <div class="col-xs-5"><p>{{ form.name }}</p></div>
                    </div>
                    </p>

                    <p>

                    <div class="row" align="right">
                        <div class="col-xs-3"><label for="id_surname">Last
                            name:</label></div>
                        <div class="col-xs-5"><p>{{ form.surname }}</p></div>
                    </div>
                    </p>

                    <p>

                    <div class="row" align="right">
                        <div class="col-xs-3"><label for="id_birth_date">Date of
                            birth:</label></div>
                        <div class="col-xs-5"><p>{{ form.birth_date }}<p></div>
                    </div>
                    </p>

                    <p>

                    <div class="row" align="right">
                        <div class="col-xs-3"><label
                                for="id_contact_team">Team:</label></div>
                        <div class="col-xs-5">
                            <p>{{ form.contact_team }}
                            <p></div>
                    </div>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>

                    <div class="row" align="right">
                        <div class="col-xs-3"><label
                                for="id_email">Email:</label></div>
                        <div class="col-xs-5"><p>{{ form.email }}</p></div>
                    </div>
                    </p>

                    <p>

                    <div class="row" align="right">
                        <div class="col-xs-3"><label
                                for="id_jabber">Jabber:</label></div>
                        <div class="col-xs-5"><p>{{ form.jabber }}</p></div>
                    </div>
                    </p>

                    <p>

                    <div class="row" align="right">
                        <div class="col-xs-3"><label
                                for="id_skype">Skype:</label></div>
                        <div class="col-xs-5"><p>{{ form.skype }}</p></div>
                    </div>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label for="id_photo">Photo:</label>

                    <div><p>{{ form.photo }}</p></div>
                    </br>
                    {% if form.photo.value != '' %}
                        <img class="image"
                             src='{{ MEDIA_URL }}{{ form.photo.value }}'
                             height="200" width="200"
                             onerror="this.onerror=null;this.src='{{ STATIC_URL }}images/does_not_exist.png';">
                    {% else %}
                        <table width='200px' border="2" height="200px">
                            <tr align="right" valign="top">
                                <td></td>
                            </tr>
                        </table>
                    {% endif %}
                </div>
                <div class="col-md-7">
                    <p><label for="id_other">Other
                        contacts:</label></br>

                    <p>{{ form.other }}</p></p>

                    <p><label for="id_bio">Bio:</label></br>

                    <p>{{ form.bio }}</p>
                    </p>
                </div>
            </div>
            <div class="row">
                <div id="loading" style="display:none;">
                    <span>loading...</span>
                </div>
                <div id="success" style="display:none;">
                    <span>Changes have been saved.</span>
                </div>
                <div id="form_error" style="display:none;">
                    <span>Errors are found. Changes have not been saved.</span>
                </div>
                <p>
                    <input class="btn btn-primary" type="submit" value="Save"/>
                    <a class="btn btn-default"
                       href="{% url 'contact' %}">Cancel</a>
                </p>
        </form>
        <hr>
    </div>
    <a href="{% url 'requests' %}">requests</a>
{% endblock %}