{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Requests{% endblock title %}


{% block extra_head %}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="{% static "js/requests.js" %}"></script>
{% endblock extra_head %}

{% block content %}
    {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
    <h1>Requests</h1>
    <div id='div_table1'>
        <table class="table table-hover table-striped" id="req-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>
                    <a href="{% url 'requests' %}?order_by=priority{% if request.GET.reverse != '1' %}&amp;reverse=1{% endif %}">Priority
                        {% if order_by == 'priority' and reverse != '1' %}
                            &uarr;
                        {% elif order_by == 'priority' and reverse == '1' %}
                            &darr;
                        {% endif %}</a>
                </th>
                <th>Method</th>
                <th>Path</th>
                <th><a href="{% url 'requests' %}">Time<a></a></th>
                <th>Address</th>
            </tr>
            </thead>
            <tbody>
            {% for req in request_log %}
                <tr>
                    <td id="request-id">{{ req.id }}</td>
                    <td>{{ req.priority }}</td>
                    <td>{{ req.method }}</td>
                    <td>{{ req.path }}</td>
                    <td>{{ req.time }}</td>
                    <td>{{ req.remote_addr }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endwith %}
{% endblock %}
